In [32]:
print("Hello World")

Hello World

In [4]:
print("Hare KRISHNA")

Hare KRISHNA

In [1]:
print("Listening to Pavan    Sir classes in THUB")

Listening to Pavan Sir classes in THUB

# List

- Lists are ordered collection of elements
- Lists elements should be enclosed with square brackets
- Lists are indexed
- Index starts from 0
- Lists are mutable

In [1]:
marks = [65,42,91,27,46]
print(marks)

[65, 42, 91, 27, 46]

In [12]:
print(max(marks))
print(min(marks))
marks.sort()
print(marks)

91
42
[42, 46, 65, 77, 91]

# STRINGS
- Strings are collection of characters
- Strings are immutable
- Strings are enclosed in single quotes or double quotes
- Strings can be concatenated using the + operator
- Strings can be repeated using the * operator
- Strings are indexed

In [13]:
string = "Hello"
print(string)
print(len(string))
print(type(string))

Hello
5
<class 'str'>

In [15]:
print(max(string))
print(min(string))
print(string[0])
print(string[3])

o
H
H
l

In [16]:
# ORD FUNCTION TO GET THE ASCII VALUE OF A CHARACTER

print(ord('a'))

97

In [17]:
# chr() function to know the char of an ascii value

print(chr(97))

a

In [21]:
string = "Hello"
se = set(string)

print(se)

for char in se:
    print(char)

{'H', 'l', 'e', 'o'}
H
l
e
o

In [23]:
l = list(string)
print(l)

['H', 'e', 'l', 'l', 'o']

In [1]:
s = input().strip().replace(" ", "")
if len(set(s)) == 26:
    print("YES")
else:
    print("NO")
    print(set(s))

NO
set()

In [34]:
d = {1:"4"}
print(d)

{1: '4'}

In [37]:
d = {}
a = input()

b = list(a)

for char in b:
    if char not in d:
        d[char] = 1

    else:
        d[char]+=1

print(d)

{'S': 1, 'h': 2, 'a': 2, 'n': 1, 'm': 1, 'u': 1, 'k': 1}

### Membership Operators

- in: to check whether an element is there in a particular thing or not

# FUNCTIONS

In [1]:
def add_two(a,b):
    return a+b

print(add_two(5,6))

11

In [5]:
class Person:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

    def print_info(self):
        print(f"Name: {self.name}, Age: {self.age}, Gender: {self.gender}")


p1 = Person(input("Enter name: "), input("Enter age: "), input("Enter gender: "))


p1.print_info()

Name: Krishna, Age: 16, Gender: Male

In [4]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [9]:
def string_print(city, country, continent):
    print(f"{city} is in {country}, which is in {continent}")

string_print("Mumbai", "India", "Asia")

Mumbai is in India, which is in Asia

In [2]:
print("HI")

HI

# LISTS

In [4]:
x = [10,20,30,40]
print(len(x))

4

In [10]:
print(x[-1])

40

In [14]:
x = [10, 20, 30]
x.append(40)
print(x)
x.insert(1, 15)
print(x)

[10, 20, 30, 40]
[10, 15, 20, 30, 40]

In [16]:
x = []

for i in range(5):
    x.append(int(input()))

print(x)

[1, 2, 3, 4, 5]

In [18]:
x = list(map(int, input().split()))
print(x)
x.pop()

[1, 2, 3, 4, 5]

In [36]:
x = [10,20,30]

print(x)

[10, 20, 30]

In [39]:
a = [50,60,70]
x.extend(a)
print(x)

[10, 20, 30, 50, 60, 70, 50, 60, 70]

In [40]:
x[0], x[1] = x[1], x[0]
print(x)

[20, 10, 30, 50, 60, 70, 50, 60, 70]

In [43]:
a = []
b = []
a.extend('123')
print(a)
for num in a:
    new_num = int(num)
    b.append(new_num)

print(b)

['1', '2', '3']
[1, 2, 3]

# SLICING IN LISTS

In [4]:
x = [10,20,30,40,50,60]
slice1 = x[4:1:-1]
print(slice1)

[50, 40, 30]

In [9]:
ages = [19,57,97,31,40,91,13,52,81,19]
child = []
adult = []
old = []

for age in ages:
    if age <= 15:
        child.append(age)
    elif age>15 and age<50:
        adult.append(age)
    else:
        old.append(age)

print(child, adult, old, sep='\n')

[13]
[19, 31, 40, 19]
[57, 97, 91, 52, 81]

In [10]:
nums = [1,2,3,4]
sq = [x*x for x in nums]
print(sq)

[1, 4, 9, 16]

In [15]:
names = ['kris', 'ram', 'james', 'sally']
lens = [len(x) for x in names]
r_l = [x for x in names if 'r' not in x]
print(r_l)
print(lens)

['james', 'sally']
[4, 3, 5, 5]

In [16]:
names_s = [x for x in names if x[0]=='s']
print(names_s)

['sally']

In [23]:
def palindrome(n):
    x = str(n)
    return x == x[::-1]

li = [x for x in range(1, 1000) if palindrome(x)]
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

[[None, None, None],
 [None, None, None],
 [None, None, None],
 [None, None, None],
 [None, None, None]]

In [3]:
no_pairs = int(input())
d = {}
for i in range(no_pairs):
    key = input()
    Value = int(input())
    d[key] = Value

print(d)

{'James Bond': 56, 'Ethan Hunt': 24}

In [9]:
d = {}

for i in range(1,27):
    d[chr(i+96)] = i

print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26}

In [10]:
n = {chr(x+96): x for x in range(1,27)}
print(n)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26}

# zip function

''' USED TO GENERATE N LENGTH TUPLES, WHERE iTH ELEMENT OF EACH TUPLE COMES FROM iTH ITERALE'''

In [19]:
lst = [1,2,3,4,5,6]
string = "abc"
z = zip(lst, string)
print(dict(z))

{1: 'a', 2: 'b', 3: 'c'}

In [20]:
cricketers = {
    "Sachin Tendulkar":  100,
    "Sir Don Bradman": 89,
    "Sir Vivian Richards": 66
}

dict_items([('Sachin Tendulkar', 100), ('Sir Don Bradman', 89), ('Sir Vivian Richards', 66)])

In [22]:
## ENUMERATION LOOP

students = [["a",23,18], ["b", 26, 17], ["c", 21, 19], ["d", 24, 20], ["e", 25, 16]]

for index, student in enumerate(students):
    print(f"Student {index+1}: Name = {student[0]}, Age = {student[1]}, Grade = {student[2]}")

Student 1: Name = a, Age = 23, Grade = 18
Student 2: Name = b, Age = 26, Grade = 17
Student 3: Name = c, Age = 21, Grade = 19
Student 4: Name = d, Age = 24, Grade = 20
Student 5: Name = e, Age = 25, Grade = 16

In [5]:
d = {'a': 1, 'b':2, 'c':3}

#a safe way to get the values

if(d.get('b', 0)):
    print(d['b'])

2

In [6]:
string = "aabccaadddaxxaabb"

d = {}

for x in string:
    if x in d:
        d[x] += 1
    
    else:
        d[x] = 1
        
print(d)

{'a': 7, 'b': 3, 'c': 2, 'd': 3, 'x': 2}

In [13]:
d_new = {}

for x in string:
    d_new[x] = d_new.get(x,0) + 1
   
print(d_new)

{'a': 7, 'b': 3, 'c': 2, 'd': 3, 'x': 2}

### SOME OF THE HIGHER ORDER FUNCTIONS

#### MAP

 - map(func, iterable)
 - Applies a given function to each item of an iterable and returns a map object which is an iterator. 
 - Parameters:
 - func: The function to be applied to each item of the iterable.
 - iterable: The iterable (such as a list, tuple, or string) to be processed.
 - Returns:
 - A map object which is an iterator, yielding the results of applying the function to each item of the iterable.
 - Example:
 - `list(map(lambda x: x**2, [1, 2, 3, 4]))` returns `[1, 4, 9, 16]`

In [20]:
names = ['ab', 'xyz', 'pqrs', 'abcde']


lengths = list(map(len, names))


print(lengths)


result = int(''.join(map(str, lengths)))
print()
print(result)

[2, 3, 4, 5]

2345

In [26]:
print(list(map(chr, range(65,91))))

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [31]:
nums = [1,2,3]
print(list(map(lambda x: x ** 3, nums)))

[1, 8, 27]

In [33]:
marks = [[20,30,40], [50,20,30], [40,60,40]]

print(list(map(sum, marks)))

[90, 100, 140]

In [36]:
# Find out the digit sum  --> CHEAT

print(sum(map(int, list(input()))))

6

In [40]:
def is_odd(n):
    return n%2==1

n = [11,12,13,14]

f = filter(is_odd, n)
print(list(f))

[11, 13]

In [42]:
def is_prime(n):
    for i in range(2,n):
        if n%i==0:
            return False
        
    return True

a,b = map(int,  input().split())

list_of_primes = list(filter(is_prime, range(a, b+1)))
print(list_of_primes)

[1, 2, 3, 5, 7, 11, 13]

In [50]:
def contains_o(name):
    return 'o' not in name

names = ['Von', "Kris", "Shannu", "oval", "Ron", "Hermione"]

print(list(filter((contains_o), names)))

['Kris', 'Shannu']

In [51]:
def fun(t):
    return t[1]>=2

d = {
    'harry': 2,
    'hermoine': 2,
    'ron': 1,
    'draco': 5,
    'snape': 0
}

print(list(filter(fun, d.items())))

[('harry', 2), ('hermoine', 2), ('draco', 5)]

### SORT FUNCTION

In [53]:
lst = ["Krishna", "Shannu", "James"]
lst.sort()
lst

['James', 'Krishna', 'Shannu']

In [55]:
# Define the dictionary
d = {'a': 12, 'c': 14, 'b': 6}

# Sort the dictionary by its values
sorted_list = sorted(d.items(), key=lambda x: x[1])

# Print the sorted list of tuples
print(sorted_list)

[('b', 6), ('a', 12), ('c', 14)]

### LAMDA FUNCTIONS

- Functions on fly
- Lambdas are used in higer order functions
- Syntax: labmbda parameter : expression 
- There can be many parameters but only one expression

In [1]:
def cube(n):
    return n * n * n

print(cube(2))

8

In [4]:
(lambda n: n * n * n)(8) # anonymous function

512

In [7]:
nums = [1,7,16,3]

output = list(map(lambda x: x**3, nums))
print(output)

[1, 343, 4096, 27]

In [9]:
pairs = [(1,2), (4,8), (6,7)]

output = list(map((lambda x: x[0] * x[1]), pairs))
print(output)

[2, 32, 42]

In [11]:
# PREFIX SUM IN PYTHON

import itertools 

nums = [1,2,3,4,5]

output = itertools.accumulate(nums)
print(list(output))

[1, 3, 6, 10, 15]

### STRINGS

- upper()
- lower()
- isupper()
- islower()
- istitle()
- startswith()
- endswith()
- split()
- join()
- isalpha()
- isalnum()
- index()
- count()
- find()
- ljust()
- rjust()
- center()
- strip()
- lstrip()

- rst

In [80]:
s = 'hello'
s.upper()

'HELLO'

In [81]:
s_new  = "JAMES BOND"
s_new.lower()

'james bond'

In [82]:
s.isupper()

False

In [83]:
l = ['a', 'b']

x = ''.join(l)
print(x)

ab

In [84]:
y = 'ab'
z = 'xc'

print(z.join(y))

axcb

In [85]:
s.istitle()

False

In [86]:
s.startswith('h')

True

In [87]:
s.endswith('o')

True

In [88]:
x = "The name is Bond... James Bond... "
result = x.split()
print(result)

['The', 'name', 'is', 'Bond...', 'James', 'Bond...']

In [89]:
y = "apple,banana,cherry"
res = y.split(',')
print(res)

['apple', 'banana', 'cherry']

In [90]:
words = ['Hello', 'World', 'Python']
result = ' '.join(words)
print(result)

Hello World Python

In [91]:
fruits = ['apple', 'banana', 'cherry']
result = ','.join(fruits)
print(result)

apple,banana,cherry

In [92]:
digits = ['1', '2', '3']
result = ','.join(digits)
print(result)

1,2,3

In [93]:
x = "Ethan Hunt"
x.index("h")

2

In [94]:
x.lower().count("h")

2

In [95]:
print(x)
x.find("H")

Ethan Hunt

6

In [96]:
import pandas as pd
import random

df = pd.read_csv('real_testing.csv')
selected_names = df['first_name']
topics = 
print(selected_names)

SyntaxError: invalid syntax (4177966953.py, line 6)

In [126]:
import pandas as pd
import random

df = pd.read_csv('real_testing.csv')
selected_names = df['first_name'].tolist()
string_methods = [
    "upper",
    "lower",
    "isupper",
    "islower",
    "istitle",
    "startswith",
    "endswith",
    "split",
    "join",
    "isalpha",
    "isalnum",
    "index",
    "count",
    "find",
    "ljust",
    "rjust",
    "center",
    "strip",
    "lstrip",
    "rstrip"
]



while(1 and len(selected_names)!=0 and len(string_methods)!=0):
    x = int(input("Enter 1 for next and else to close"))
    if(x!=1):
        print("Thank you")
        break
    z = random.randint(0, len(string_methods)-1)
    print("Name: ", selected_names[z])
    print("Topic: ", string_methods[z])
    selected_names.remove(selected_names[z])
    string_methods.remove(string_methods[z])
    
if(len(selected_names)==0):
    print("The names are over")

if(len(string_methods)==0):
    print("The topics are over")

Name:  TADI NAGA SIVA DEVI CHARMI MANASA
Topic:  isupper
Name:  SHAIK UMAR
Topic:  startswith
Name:  TURPUDI SATYA VENKATA SHANMUKHA THARUN
Topic:  split
Name:  TALLAPRAGADA VARSHITHA
Topic:  upper
Name:  SUREKHA REDDY GUDIMETLA
Topic:  count
Name:  SUNKARA SOWMYA
Topic:  isalnum
Name:  KHANDAVALLI VENKATA JAGADEESH
Topic:  find
Name:  KALLA CH K SRI HARI NARASIMHA SATYA DURGA
Topic:  lstrip
Name:  NUNNA VEERA GANGA MAHA LAKSHMI
Topic:  center
Name:  BALANAGU VARUN
Topic:  strip
Name:  KONAKALLA CHOPRA LAKSHMI SATHVIKA
Topic:  index
Name:  PULLELA LALITHA
Topic:  join
Thank you

: